@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary: #00C4CC;
    --second: #3A465C;
    --third: #B9EDED;
    --additional:#DBE3E8;
}

*{
    padding: 0;
    margin: 0;
}

.btn-outline-light{
    color: white;
    border-color: var(--third);
}
.btn-outline-light:hover{
    color: white;
    background-color: var(--second);
    border-color: var(--third);
}

.btn-outline-success{
    color: white;
    border-color: var(--third);
}
.btn-outline-success:hover{
    color: white;
    background-color: var(--second);
    border-color: var(--third);
}
.navbar-dark{
    background-color: var(--primary);
}
.form-control{
    border-color: var(--second);
}
.w-100{
    height: 400px;
    object-fit: cover;
}
.candidatos{
    width: 90%;
    margin: 30px auto 30px auto;
}

.candidatos h2{
    margin-left:2.2%;
}


.cont-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.title{
     width: 92%;
     margin: auto;
}

.card-img{
    text-align:center;
    margin: 10% auto 0 auto;
}


.card-img img{
    height: 140px;
    width: 140px;
    border-radius: 70px;
    object-fit: cover;
    aspect-ratio: 3/2;
}

#card{
    border: 1px solid rgba(0,0,0,.125);
    margin: 0 20px 0 20px;
    height: 470px;
    width: 25%;
}
.card-name{
    margin-top: 20px;
    text-align: center;
}
.card-text{
    margin: 8px auto;
    width: 70%;
}

.btn-moreInfo{
    width: 80%;
    margin: 10px auto 10px auto;
    background-color: var(--second);
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-style: none;
}

.btn-job{
    width: 80%;
    margin: 10px auto 10px auto;
    background-color: var(--primary);
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-style: none;
}

.card-btns{
    display: flex;
    flex-wrap: wrap;
}


.ejm-cand{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto 2em auto;
}
.space{
    width: 40%;
}

.panda{
    font-size: 60px;
    font-weight: bold;
}

.space h1 {
    margin-top:10%;
}

.space p{
    width: 80%;
    margin-top:5%;
    font-size: 17px;
}

.metricas{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto 2em auto;
}

.card-metric{
    display:flex;
    width: 30%;
    margin: 20px auto;
}

.card-metric img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.card-metric span{
    width: 100%;
}


#carouselExampleCaptions{
    height: 400px;
}
#carousel-item img{
    height: 400px;
    
}

